@CHARSET "ISO-8859-1";
.login_form
{
	margin: 0 auto;
	width:250px;
}
.update_form
{
	margin-left: 475px;
	width: 250px;
}
#home_body
{
	padding: 15%;
}
table
{
	margin: 0 auto; 		
}
hr
{
	border: 1px solid blue;
}
.logout
{
	margin-left: 1270px;
	height: 30px;
	border-radius: 4px;
	border: 1px solid #3079ed;
	background-color: #4d90fe;
	color: white;
	font-weight: bold;

}
#button_update
{
	border: 1px solid #5cb85c;
	background-color: #5cb85c;
	color: white;
	height: 35px;
	border-radius: 4px;
	margin-left: 530px;
}
.login
{
	height: 30px;
	border-radius: 4px;
	border: 1px solid #5cb85c;
	color: white;
	font-weight: bold;		
}
#container
{
	border: 0px solid black;
	margin: 0 auto; 
	margin-right: 350px; 
	width: 700px;
	height: 350px;
	background-color: white;
	overflow: scroll;
	overflow-x: hidden;
	margin-top: 10px;
}
h4
{
	margin-left: 10px;
}
#search
{
	float: right;
	height: 27px;
	border: 1px solid white;
	border-radius: 4px;
}
#usersList
{
	float:right;
	height: 27px;
	border: 1px solid white;
	border-radius: 4px;
	background-color: white;
	width:170px;
	height : 100px;
	overflow: scroll;
	overflow-x: hidden;
}
#usersList ul
{
	margin-right:50px;
}
li
{
	margin-right: 50px;
	list-style-type:none;
}
textarea
{
	border: 1px solid white;
	border-radius: 4px;	
}
h3
{
	margin: 0 auto;
	margin-left: 600px;
	margin-top: 60px;
}
.feeds
{
	margin-top: 10px;
	margin-bottom:10px;
	margin-left: 20px;
	margin-right: 20px;
	border-style: groove;
}

.loginContainer
{
	border-style: none;
}
#signUpBtn
{
	width: 80px;
	height: 45px;
}
.modal-header
{
	border-style: none;
	background-color: #5cb85c;
}
.modal fade
{
	border-style: none;
}
.modal-content
{
	border-style: none;
}
.modal-body
{
	border-style: none;
}
.modal-dialog
{
	border-style: none;
}
.error
{
	border-style: none;
}
#username
{
	border-style: none;
}
p
{
	margin-left: 10px;
}
.signup
{
	height: 30px;
	border-radius: 4px;
	border: 1px solid #5cb85c;
	color: white;
	font-weight: bold;
}
#displayUsers
{
	margin-left : 20px;
	margin-top: 90px;
	float : left;
	width : 250px;
	height : 350px;
	border: 0px solid black;
	background-color: white;
	overflow: scroll;
	overflow-x: hidden;
	font-size: 17px;
}
#signUpBtn
{
	height: 40px;
	width : 80px;
	background-color: #31b0d5;
	color: white;
	font-weight: bold;
	border-radius: 4px;
}
.users
{
	height : 30px;
	border-style: none;
	border-radius: 2px;
	margin-left: 5px;
	margin-right: 5px;
}
#feedTextId
{
	margin-left:250px;
}
#settingsBtn
{
	margin-left: -140px;
	height:30px;
	border-radius: 4px;
	border: 1px solid #3079ed;
	background-color: #4d90fe;
	color: white;
	font-weight: bold;
}
#settingsDiv
{
	width:300px;
	height:350px;
	float:right;
	margin-top: -350px;
	background-color: white;
}
#save
{
	border: 1px solid #5cb85c;
	background-color: #5cb85c;
	color: white;
	height: 30px;
	width:45px;
	border-radius: 4px;
}
#errormsg_0_Passwd
{
	color: red;
}